// BRANDS
$twitterColor: #0aaaf5;
$tumblrColor: #5e7694;
$instaColor: #c4b4a8;

// BLACKS
$black: rgba(0, 0, 0, 1);
$almostBlack: rgba(0, 0, 0, .75);
$halfBlack: rgba(0, 0, 0, .5);
$rachelDolezal: rgba(0, 0, 0, .25);

// WHITES
$white: rgba(255, 255, 255, 1);
$almostWhite: rgba(255, 255, 255, .75);
$halfWhite: rgba(255, 255, 255, .5);
$donLemon: rgba(255, 255, 255, .25);

// OTHER
$borderColor: dimgrey;
$red: crimson;
$green: forestgreen;
$lemonPie: lemonchiffon;
$hacker: lime;
$purple: rebeccapurple;
$tato: tomato;

// NAV COLORS
$navPink: #db097d;
$navOrange: #fc7a03;
$navBlue: #2f55f4;
$navGreen: #05c61b;
$navRed: #dd0721;
$navLightBlue: #07bfdd;
