.--mobile {
  max-width: 100vw;
  overflow: hidden;

  .Navigation {
    position: fixed;
    & ~ .App-content {
      padding-top: $NAV_HEIGHT;
    }
  }

  .Navigation-logo {
    left: auto;
    width: 100%;
    @include display(flex);
    @include align-items(center);
  }

  .Navigation-logo a {
    float: none;
    width: 250px;
    height: 20px;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .Navigation-github-icn {
    opacity : 1;
  }

  .Navigation,
  .Navigation-logo,
  .Navigation-menu-btn,
  .Navigation-github {
    height: $NAV_HEIGHT_MOBILE;
  }
}
