.Logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../images/art404_logo_horiz_small.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
